body{
    margin: 0 70px;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Merriweather Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Righteous', cursive;
}
/* CSS for banner section  */
.banner{
    background-color: #222222;
    color: white;
    border-radius: 20px;
    display: flex;
    margin: 100px 0;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 80%;
}
h1{
    font-size: 4em;
    margin: 0;
    font-weight: bold;
}
.left{
    padding-left: 80px;
    
}
.first{
    padding-top: 50px;
}
p{
    margin: 0;
}
.last-para{
    margin-bottom: 30px;
}
.first-para{
    padding-top: 20px;
}
.link-button{
    font-size: 20px;
    text-decoration: none;
    background-color: red;
    padding: 15px 30px;
    border-radius: 5px;
    color: white;
}
.fas{
    padding-left: 10px;
}
/* CSS for blogs */
.blogs{
    display: flex;

}
.list{
    background-color: #222222;
    height: 220px;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    margin-right:15px;
}
.button{
    text-decoration: none;
    display: block;
    background-color: white;
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    text-align: center;  
}
.active{
    background-color: red;
    color: white;
}                                             
.grid-third{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 10px;
    column-gap: 10px;
}
.transfer{
    padding: 3px 15px;
}
.content{
    padding: 15px;
}
.last{
    padding-left: 15px;
}
.time{
    display: flex;
}

footer{
    margin-top: 100px;
    background-color: #222222;
    padding: 70px 0;
}
footer h2{
    padding: 35px 0;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: white;
}
hr{
    margin: 0 100px;
}
ul{
    margin-top: 50px;
    display: flex;
}
li{
    text-decoration: none;
    list-style-type: none;
    color: white;
    padding-left: 30px;
}
.center{
    margin: 0 220px;  
}
.box-flag{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.text{
    text-align: center;
}
.align{
    text-align: center;
    padding: 20px 0;
}
/* CSS for tablet */
@media screen and (max-width:992px){
    .blogs{
       display: block;
    }
    .list{
        width: 100%;
        margin-bottom: 20px;
    }
    .left{
        padding-left: 0; 
    }
    .center{
        margin: 0;
    }
    .grid-third{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 10px;
        column-gap: 10px;
    }
}
@media screen and (max-width:576px){
    body{
        margin: 0 auto;
    }
    .banner{
        display: block;
    }
    h1{
        font-size: 2em;;
    }
    .half-width{
        width: 100%;
    }
    .half-width img{
        width: 100%;
    }
    .left{
        width: 100%;
        text-align: center;
    }
    .blogs{
       display: block;
    }
    .list{
        width: 100%;
        margin-bottom: 20px;
    }
    .grid-third{
        display: block;
        width: 100%;
    }
    .center{
        margin: 0;
    }
    ul{
        display: block;
    }
    li{
        text-align: center;
        padding: 10px 0;
    }
    .left{
        padding-left: 0; 
    }
    
}